<div class="container mt-4">

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Buscar por Pacientes</strong>
        </div>
        <div class="card-body">
          <form (ngSubmit)="buscarPaciente()"> <!-- Use ngSubmit se desejar submeter o formulário -->
            <div class="mb-3">
              <label for="cpf" class="form-label">CPF:</label>
              <input type="text" class="form-control" id="cpf" [(ngModel)]="cpf" name="cpf" placeholder="Digite o CPF"
                required>
            </div>
            <button type="button" class="btn btn-primary" (click)="buscarPaciente()">Buscar</button>
          </form>

          <div id="resultado" class="mt-3" *ngIf="resultado">
            <div *ngIf="resultado.error">{{ resultado.error }}</div>
            <div *ngIf="!resultado.error">
              <h5>Resultado:</h5>
              <p><strong>Nome:</strong> {{ resultado.name }}</p>
              <p><strong>Idade:</strong> {{ resultado.idade }}</p>
              <p><strong>Profissão:</strong> {{ resultado.profissao }}</p>
            </div>

            <!-- Botão que abre o modal -->
            <!-- <button type="button" class="btn btn-primary" [disabled]="!resultado" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              Ver e Editar Informações
            </button> -->

            <button type="button" class="btn btn-primary" [disabled]="!resultado"
              (click)="abrirModal(modalPacientes, resultado)">
              Ver e Editar Informações
            </button>

            <ng-template #modalPacientes let-modal>
              <div class="row">
                <div class="col">
                  <div class="modal-header">
                    <h4 class="modal-title">
                      Editar paciente
                    </h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group row">
                      <div class="col-md-4">
                        <label for="nome"><strong>NOME:</strong></label>
                        <input type="text" class="form-control" id="nome" placeholder="Altere o nome"
                          [(ngModel)]="paciente.name" required name="nome">
                      </div>
                      <div class="col-md-4">
                        <label for="nome"><strong>TELEFONE:</strong></label>
                        <input type="text" class="form-control" id="telefone" placeholder="Digite o telefone"
                          [(ngModel)]="paciente.telefone" required name="telefone">
                      </div>
                      <div class="col-md-4">
                        <label for="nome"><strong>IDADE:</strong></label>
                        <input type="text" class="form-control" id="idade" placeholder="Digite o nome"
                          [(ngModel)]="paciente.idade" required name="idade">
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-md-4">
                        <label for="nome"><strong>CIF:</strong></label>
                        <input type="text" class="form-control" id="cns" placeholder="Digite o nome"
                          [(ngModel)]="paciente.cns" required name="cns">
                      </div>
                      <div class="col-md-4">
                        <label for="nome"><strong>ENDEREÇO:</strong></label>
                        <input type="text" class="form-control" id="endereco" placeholder="Digite o nome"
                          [(ngModel)]="paciente.endereco" required name="endereco">
                      </div>

                      <div class="col-md-4">
                        <label for="sexo"><strong>SEXO:</strong></label>
                        <select id="sexo" class="form-control" [(ngModel)]="paciente.sexo" name="sexo">
                          <option value="" selected>Selecione</option>
                          <option [value]="0">Masculino</option>
                          <option [value]="1">Feminino</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-4">
                        <label for="nome"><strong>HMA:</strong></label>
                        <input type="text" class="form-control" id="hma" placeholder="Altere o nome"
                          [(ngModel)]="paciente.hma" required name="hma">
                      </div>
                      <div class="col-md-4">
                        <label for="nome"><strong>HISTÓRICO FAMILIAR:</strong></label>
                        <input type="text" class="form-control" id="historico_familiar" placeholder="Digite o nome"
                          [(ngModel)]="paciente.historico_familiar" required name="historico_familiar">
                      </div>
                      <div class="col-md-4">
                        <label for="nome" class="text-bold"><strong>PROFISSÃO:</strong></label>
                        <input type="text" class="form-control" id="profissao" placeholder="Digite o nome"
                          [(ngModel)]="paciente.profissao" required name="profissao">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-4">
                        <label for="nome"><strong>DIAGNÓSTICO:</strong></label>
                        <input type="text" class="form-control" id="diagnostico" placeholder="Altere o nome"
                          [(ngModel)]="paciente.diagnostico" required name="diagnostico">
                      </div>
                      <div class="col-md-4">
                        <label for="nome"><STRONG>ALTURA:</STRONG></label>
                        <input type="text" class="form-control" id="altura" placeholder="Digite o nome"
                          [(ngModel)]="paciente.altura" required name="altura">
                      </div>
                      <div class="col-md-4">
                        <label for="nome"><STRONg>PA:</STRONg></label>
                        <input type="text" class="form-control" id="pa" placeholder="Digite o nome"
                          [(ngModel)]="paciente.pa" required name="pa">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-4">
                        <label for="nome"><strong>QUEIXA PRINCIPAL:</strong></label>
                        <input type="text" class="form-control" id="diagnostico" placeholder="Altere o nome"
                          [(ngModel)]="paciente.queixa_principal" required name="queixa_principal">
                      </div>
                      <div class="col-md-4">
                        <label for="nome"><STRONg>CPF:</STRONg></label>
                        <input type="text" class="form-control" id="pa" placeholder="Digite o nome"
                          [(ngModel)]="paciente.cpf" required name="cpf">
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="button" value="Salvar" (click)="salvarModal()"
                            class="btn btn-primary float-right mr-3" />
                          <input type="button" value="Cancelar" (click)="closeModal()"
                            class="btn btn-outline-dark float-right mr-3" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Informações do Paciente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form (ngSubmit)="salvarAlteracoes()">
                    <div class="modal-body">
                      <!-- Nome -->
                      <div class="mb-3">
                        <label for="nome" class="form-label"><strong>Nome:</strong></label>
                        <input type="text" class="form-control" id="nome" [(ngModel)]="resultado.username"
                          name="username" placeholder="Digite o nome" required />
                      </div>

                      <!-- Idade -->
                      <div class="mb-3">
                        <label for="idade" class="form-label"><strong>Idade:</strong></label>
                        <input type="number" class="form-control" id="idade" [(ngModel)]="resultado.idade" name="idade"
                          placeholder="Digite a idade" required />
                      </div>

                      <!-- E-mail -->
                      <div class="mb-3">
                        <label for="email" class="form-label"><strong>Email:</strong></label>
                        <input type="email" class="form-control" id="email" [(ngModel)]="resultado.email" name="email"
                          placeholder="Digite o email" required />
                      </div>
                      <!-- E-mail -->
                      <div class="mb-3">
                        <label for="email" class="form-label"><strong>Email:</strong></label>
                        <input type="email" class="form-control" id="email" [(ngModel)]="resultado.endereco"
                          name="email" placeholder="Digite o email" required />
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                      <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>