<nav class="container">

  <div class="sidebar">
    <div class="logo">
      <i class="bx bx-menu menu-icon" (click)="onSave()"></i>
      <span class="logo-name" >ANAMNESE</span>
    </div>

    <div class="sidebar-content">
      <ul class="lists">
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-home alt icon"></i>
            <span [ngClass]="{ 'link' : isSidebar, 'hiddenD' : !isSidebar }">Inicio</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <i class='bx bx-clipboard icon'></i>
            <span [ngClass]="{ 'link' : isSidebar, 'hiddenD' : !isSidebar }">Ficha de Anamnese</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <i class='bx bx-user icon'></i>
            <span [ngClass]="{ 'link' : isSidebar, 'hiddenD' : !isSidebar }">Pacientes</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <i class='bx bx-group icon'></i>
            <span [ngClass]="{ 'link' : isSidebar, 'hiddenD' : !isSidebar }">Colaboradores</span>
          </a>
        </li>
      </ul>
      <div class="bottom-content">
        <li class="list">
          <a href="#" class="nav-link">
            <i class='bx bx-cog icon'></i>
            <span class="link">Configuração</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <i class='bx bx-log-out icon'></i>
            <span class="link">Sair</span>
          </a>
        </li>
      </div>
    </div>
  </div>
</nav>
