
.sidenav {
  background: white;
  transition: all 0.5s ease;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 16.5625rem;
  height: 100vh;
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
}

.sidenav-collapsed {
  width: 5rem;
}

.sidenav .logo-container {
  display: flex;
  align-items: center;
  padding: 0.938rem 0.938rem 0 0.938rem;
  width: 100%;

}

.sidenav .logo-container .logo {
  background: #ffffff;
  text-align: center;
  width: 3rem;
  min-width: 3rem;
  border-radius: 0.313rem;
  padding: 0.313rem;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
  border: none;
}

.sidenav .logo-container .logo-text {
  font-size: 24px;
  font-weight: 700;
  color: black;
  margin-left: auto;
}

.sidenav .logo-container .btn-close {
  margin-left: auto;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

.sidenav .logo-container .btn-close .fa-times {
  color: #fff;
  font-size: 24px;
}

.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 3.65rem);
  cursor: pointer;
}

.sidenav-nav .sidenav-nav-item {
  width: 100%;
  margin-bottom: 0.625rem;
  opacity: 1;
  transition: opacity 0.3s ease 0.5s;
}

.sidenav-nav .sidenav-nav-item .sidenav-nav-link {
  display: flex;
  align-items: center;
  height: 3rem;
  color: black;
  text-decoration: none;
  border-radius: 0.625rem;
  transition: all 0.3s ease;
}

.sidenav-nav .sidenav-nav-item .sidenav-nav-link .sidenav-link-icon {
  font-size: 22px;
  width: 2rem;
  min-width: 2rem;
  text-align: center;
  padding: 12px;
}

.sidenav-nav .sidenav-nav-item .sidenav-nav-link .sidenav-link-text {
  margin-left: 1.5rem;
}

.sidenav-nav .sidenav-nav-item:hover .sidenav-nav-link {
  background-color: #00A3FF;
  color: white;
}

.active {
  background-color: white;
}

.active .sidenav-link-icon,
.active .sidenav-link-text {
  color: #000;
}

.logo-text {

  font-weight: 500;
  background: linear-gradient(to right, #4E4E4E 34%, #00A3FF 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-family: "Stick No Bills", sans-serif;

}
