<body>
  <nav>

    <div class="sidebar">
      <div class="logo">
        <i class="bx bx-menu menu-icon"></i>
        <span class="logo-name">ANAMNESE</span>
      </div>

      <div class="sidebar-content">
        <ul class="lists">
          <li class="list">
            <a href="#" class="nav-link">
              <i class="bx bx-home alt icon"></i>
              <span class="link">Inicio</span>
            </a>
          </li>
          <li class="list">
            <a href="#" class="nav-link">
              <i class='bx bx-clipboard icon' ></i>
              <span class="link">Ficha de Anamnese</span>
            </a>
          </li>
          <li class="list">
            <a href="#" class="nav-link">
              <i class='bx bx-user icon' ></i>
              <span class="link">Pacientes</span>
            </a>
          </li>
          <li class="list">
            <a href="#" class="nav-link">
              <i class='bx bx-group icon' ></i>
              <span class="link">Colaboradores</span>
            </a>
          </li>
        </ul>
        <div class="bottom-content">
          <li class="list">
            <a href="#" class="nav-link">
              <i class='bx bx-cog icon' ></i>
              <span class="link">Configuração</span>
            </a>
          </li>
          <li class="list">
            <a href="#" class="nav-link">
              <i class='bx bx-log-out icon' ></i>
              <span class="link">Sair</span>
            </a>
          </li>
        </div>
      </div>
    </div>
  </nav>
  <section class="overlay"></section>
  <script>
    const navBar = document.querySelector("nav"),
      menuBtns = document.querySelectorAll(".menu-icon"),
      overlay = document.querySelectorAll(".overlay");

      menuBtns.forEach((menuBtn) =>{
        menuBtn.addEventListener("click",() => {
          navBar.classList.toggle("open");
        });
      });
        overlay.addEventListener("click", () => {

        })
  </script>
</body>
