<div class="container vh-100 d-flex align-items-center justify-content-center">
  <div class="card shadow" style="width: 600px;">
    <img src="assets/anamnese.jpg" class="card-img-top" alt="Anamnese">
    <div class="card-body text-center">
      <h1 class="card-title">ANAMNESE</h1>
      <form>
        <div class="mb-3 d-flex justify-content-start align-items-center">
          <h3 for="email" class="email m-0">Email:</h3>
          <input type="email" id="email" class="form-control color-input ms-2" placeholder="seuEmail@gmail.com"
            [(ngModel)]="email" required name="email">
        </div>
        <div class="mb-3 d-flex justify-content-start align-items-center">
          <h3 for="senha" class="senha m-0">Senha:</h3>
          <input [(ngModel)]="password" type="password" id="senha" class="form-control color-input ms-2"
            placeholder="************" required name="password">
        </div>
        <div class="d-flex justify-content-between mb-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="rememberCheck">
            <label class="form-check-label" for="rememberCheck">
              Lembrar senha
            </label>
          </div>
          <a href="#" class="text-decoration-none ms-3"><u>Esqueceu a senha?</u></a>
        </div>
        <div style="text-align: center;">
          <button type="button" class="m-3 rounded-pill btn-outline-primary"
            style="display: inline-block; margin-right: 10px;" [routerLink]="['/cadastro-usuario']">
            Cadastrar
          </button>

          <button type="submit" class="btn btn-primary cor-botoes rounded-pill" style="display: inline-block;"
            (click)="onLogin()">
            ENTRAR
          </button>
        </div>

      </form>
    </div>
  </div>
</div>