<div class="container">
  <div class="content">
    <h2>Comece cadastrando um paciente</h2>
    <p>
      Cadastre o seu primeiro paciente usando a ANAMNESE e comece a entregar mais
      saúde nos atendimentos! Fácil. Rápido.!
    </p>
    <button class="register-button" routerLink="[/pacientes]">Cadastrar paciente</button>
  </div>
  <div class="illustration">
    <img src="/assets/fisio.jpg" alt="Ilustração de rapidez" />
  </div>
</div>
<div class="anamnese-container">
  <h1>Anamnese no <span class="highlight">Para TODOS</span></h1>
  <p class="description">
    Realiza os registros de anamnese de seus clientes para para otimizar o tempo do médico e modernizar os processos de
    atendimento dentro do consultório ou clínica.

  </p>
  <p></p>
  <div class="features">
    <div class="feature">
      <i class="icon-check"></i>
      <h3>CRIE DO SEU JEITO</h3>
      <p>Crie as perguntas e colete as respostas que desejar.</p>
    </div>

    <div class="feature">
      <i class="icon-paperclip"></i>
      <h3>SEM PAPEL</h3>
      <p>Você não precisa mais armazenar papeis. Tudo é digital.</p>
    </div>

    <div class="feature">
      <i class="icon-clock"></i>
      <h3>GANHE TEMPO</h3>
      <p>Reduza até 25% do tempo nas consultas com a anamnese digital.</p>
    </div>

    <div class="feature">
      <i class="icon-error"></i>
      <h3>EVITE ERROS</h3>
      <p>Quem preenche a anamnese é o seu cliente, com isto erros são evitados.</p>
    </div>
  </div>
</div>